body {
    background: #090C43;
    overflow-y: hidden;
    overflow-x: hidden;
    min-height: 720px;
}

.lp-window-root>.lpmx {
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    margin-top: 160px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.greeting-bot-header {
    font-family: Roboto;
    display: block !important;
    width: 360px;
    white-space: nowrap;
    margin: 0 auto 62px auto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.008em;
    color: #FFFFFF;
}
